<mat-grid-list cols="3" rowHeight="270px" gutterSize="20" *ngIf="images.length">
  <mat-grid-tile @zoomInOut *ngFor="let image of images; let i = index">
    <mat-card class="example-card" style="width: 100%">
      <img
        mat-card-image
        class="card-image"
        [src]="image.url"
        alt="Random Dog"
        height="200"
      />
      <mat-card-actions>
        <button
          mat-button
          (click)="addToFav(i)"
          *ngIf="!image.addedToFav; else added"
        >
          LIKE
        </button>
        <ng-template #added><span>Added to Fav list</span></ng-template>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<div *ngIf="images.length === 0">
  <p style="text-align: center; font-size: x-large">No images to display</p>
</div>

<div style="margin-top: 50px; text-align: center">
  <button
    mat-button
    color="primary"
    (click)="loadImages()"
    *ngIf="!isLoadingFavorites"
  >
    Reload
  </button>

  <a
    routerLink=""
    [queryParams]="{ favorite: 'true' }"
    *ngIf="!isLoadingFavorites"
  >
    See your favorite dogs
  </a>
  <a routerLink="" *ngIf="isLoadingFavorites"> See random dogs </a>
</div>
